html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: burlywood;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 17px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100%;
  width: 100%; */
}

.Holes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 80%;
  height: 200px;
}

.Hole {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 50px;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-radius: 2px;
  border-color: #291400;
}

.Caught {
  width: 50%;
  height: 200px;
  margin-top: 5%;
  text-align: center;
}

.ImageDiv {
  height: 70px;
  width: 50px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
